@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
*::selection{
    background-color: #25013e33;
}
body::-webkit-scrollbar {
    width: 15px;
    display: none;
}
body{
    font-family: 'Poppins', sans-serif;
}
body::-webkit-scrollbar-track {
  background: #101015;
}

body::-webkit-scrollbar-thumb {
  background-color: #303032;
  border-radius: 25px;
  border: 2px solid #101015;
}
header{
    color: #e3e3e3;
    min-height: 25vh;
    background-color: #303032;
    z-index: 210;
}
header nav{
    background-color: #202025;
    color: #e3e3e3;
    z-index: 190;
}
nav >div >img{
    border-radius: 0 15px 0 15px;
    /* background-color: #15152066; */
    box-shadow: -2px -2px 0px 3px #101012;
}
.logo{
    max-height: 10vh;
    max-width: 100%;
}
.btn-menu-cont{
    padding: 0 5px;
}
.btn-menu-cont:hover{
    box-shadow: 0 0 5px #D9026A;
}
.btn-menu-cont:focus{
    box-shadow: 0 0 15px #de026d;
}
.btn-menu{
    font-size: 2rem;
    color: #D9026A;
}
/* NAV1 */
.nav-tabs.gap-1{
    border-color: #db559688;
    border-width: 3px;
}
.nav-item > .nav-link.active{
    border: none;
    outline: 4px solid #db559688;
    background-color: #db5596;
}
.nav-item > .nav-link:hover{
    border-color: #db559688;
}
.msg-contact{
    max-height: 50vh;
}
.title{
    text-align: center;
    padding: 0px;
}
/* NAV2 */
.nav2{
    min-height: 15vh;
    color: #e3e3e3;
    align-items: center;
    display: flex;
}
.nav2 .carousel-inner{
    height: 100%;
}
h1{
    text-shadow: 1px 1px 1px black;
}
a.carousel-control-prev span,a.carousel-control-next span{
    width: 2rem;
    font-size: 2rem;
}
.fs-7{
    font-size: .6em;
}
/* MAIN */
.main-style{
    background-color: #141418;
    color: #e3e3e3;
    min-height: 66vh;
    padding-top: 1.5rem;
    padding-bottom: 1em;
    text-shadow: 0px 0px 5px #000;
    
}
button[data-bs-target="#cardCarousel"]{
    width: fit-content;
    padding: 10px;
    justify-self: end;
}
button[data-bs-target="#cardCarousel"] span{
    width: 2rem;
    font-size: 2rem;
    color: #D9026A;
}
.nav-carousel{
    display: flex;
    justify-content: center;
}
.cardsIndicators.carousel-indicators{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
    position: static;
    margin: 0;
    width: fit-content;
}
.cardsIndicators button[data-bs-target="#cardCarousel"]{
    border-radius: 360px;
    border: none;
    width: 1rem;
    height: 1rem;
    background-color: #D9026A94;
    text-indent: 0;
    font-size: 80%;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardsIndicators button.active{
    background-color: #D9026A;
}
/* Search */
div.form-check{
    min-width: 100px;
    border-radius: 5px;
    border: 2px solid #D9026A;
    padding: 10px;
    background-color: transparent;
}
label.form-check-label{
    color: #eee;
    text-shadow: 0px 0px 5px #000;
    text-align: center;
}
div.form-check.checked{
    background-color: #db5596;
}
input.form-check-input{
    display: none;
}
input.form-check-input:checked {
    background-color: #D9026A;
    border-color: #db559688;
}
.buscador{
    background-color: transparent;
    border: 2px solid #D9026A;
    border-width: 0 0 2px 0;
    margin-right: 5px;
    color: #D9026A;
}
.buscador::placeholder{
    color: #db5596;
}
button.btn-outline-success{
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
    height: 2.2rem;
    padding: 1rem;
    color: #D9026A;
    font-size: 1.5em;
}
button.btn-outline-success:hover{
    color: #11013e;
    background-color: #D9026A;
    border-color: #D9026A;
}


/* FOOTER */
.footer-style{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #303032;
    color: #e3e3e3;
    min-height: 12vh;
}
.footer-logos{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
}
.logo-footer img{
    width: 50px;
    margin-top: 5px;
}
/* Details */
.img-details{
    object-fit: contain;
    border: 3px solid rgba(2,47,89,1);
}
/* Contact */
.contact-input{
    background-color: rgba(2,47,89,.7);
    color: #ddd;
    text-shadow: 1px 1px 10px rgb(34,79,121);
}
.contact-input[type="submit"]:hover{
    background-color: rgb(34,79,121);
    color: #ddd;
}
.contact-label{
    text-shadow: 1px 1px 10px rgb(34,79,121);
}
/* Stats */
.tableContainer{
    padding-left: 0;
    padding-right: 0;
}
.stats-table{
    color: azure;
    border-collapse: separate;
    border-radius: 20px;
    text-shadow: 0 0 10px black;
}
th.stats-head{
    background-color: #101015;
    box-shadow: 0 0 1px 5px rgba(2,47,89,1);
    border-bottom: 5px solid rgba(2,47,89,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-style: oblique;
    font-weight: 500;
    font-size: 1em;
}
.stats-table tbody{
    background-color: #101015;
    box-shadow: 0 1px 1px 4px rgb(34,79,121);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    z-index: 10;
    text-align: center;
    vertical-align: middle;
}
.stats-table tbody tr{
    box-shadow: -3px 0 1px 2px rgb(34,79,121);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
td.stats-dt{
    box-shadow: 3px 1px 3px 2px rgb(34,79,121);
    border-top: 2px solid rgb(34,79,121);
    border-bottom: 0;
    border-bottom-right-radius: 10px;
    min-height: 2rem;
    text-align: center;
    border-collapse: collapse;
}
/* CARDS */
.event-card img{
    border-top-left-radius: calc(0.375rem - 1px);
    border-top-right-radius: calc(0.375rem - 1px);
    
}
.event-card{
    text-shadow: 0px 1px 5px #000;
    border: 4px solid transparent;
    min-height: 100%;
}
.event-card .card-footer{
    justify-content: space-between;
    align-items: baseline;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}
.card-body ul li{
    color: #e3e3e3;
    background-color: transparent;
    width: 100%;
}
.e-upcoming{
    background: rgb(34,79,121);
background: radial-gradient(circle, rgba(34,79,121,1) 0%, rgba(2,47,89,1) 100%);
    border-color: rgba(2,47,89,1);
}
.e-past{
    background: rgb(32,60,87);
    background: radial-gradient(circle, rgba(32,60,87,1) 0%, rgba(0,28,55,1) 100%);
    border-color: rgba(0,28,55,1);
}
.e-upcoming img{
    border-bottom: 3px solid rgba(2,47,89,1);
}
.e-past img{
    border-bottom: 3px solid rgba(0,28,55,1);
}
.btn-upcoming{
    background-color: rgb(34,79,121);
    color: rgb(210,194, 175);
    border: 2px solid rgba(2,47,89,1);
    box-shadow: 0px 0px 5px 2px rgba(0,28,55,1);
}
.btn-upcoming:hover{
    background-color: #ff1687;
    border-color: #d8047c;
}
.btn-past{
    background-color: rgb(32,60,87);
    color: rgb(210,194, 175);
    border: 2px solid rgba(0,28,55,1);
    box-shadow: 0px 0px 5px 2px rgba(0,28,55,1);
}
.btn-past:hover{
    background-color: #ae2366;
    border-color: #871338;
}

@media (min-width: 992px) {
    body::-webkit-scrollbar{
        display: block;
    }
    .logo{
        width: 15%;
    }
    .fs-7{
        font-size: .8em;
    }
    div.form-check{
        padding-left: 1.5em;
        border: none;
    }
    div.form-check.checked{
        background-color: transparent;
    }
    .event-card{
        font-size: smaller;
    }
    .logo-footer{
        padding: 5px 15px;
    }
    label.form-check-label{
        text-align: start;
        padding: 5px;
        border: none;
    }
    input.form-check-input{
        display: block;
        background-color: #db559688;
        box-shadow: 0 0 2px 1px #db559644;
    }
    .footer-style{
        flex-direction: row;
    }
    img.img-details{
        border: none;
        border-bottom: none;
    }
    .tableContainer{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 1400px) {
    .cardsIndicators button[data-bs-target="#cardCarousel"]{
        width: 1.5rem;
        height: 1.5rem;
    }
    header{
        box-shadow: 0px 20px 20px #160046;
    }
    #navbarOffcanvasLg{
        font-size: 1rem
    }
    .fs-7{
        font-size: 1em;
    }
    .event-card h3{
        font-size: 1.6rem;
    }
    .event-card h5{
        font-size: 1.4rem
    }
    .event-card{
        font-size: 1rem;
    }
    th.stats-head{
        font-size: 1.6em;
    }
}
@media (min-width: 1600px){
    #navbarOffcanvasLg{
        font-size: 1.6rem
    }
    .fs-7{
        font-size: 1.4em;
    }
    .event-card h3 {
        font-size: 2rem;
    }
    .event-card h5{
        font-size: 1.8rem
    }
    .event-card{
        font-size: 1.6rem;
    }
    th.stats-head{
        font-size: 1.8em;
    }
}